#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  text-align: left;
}


body, html {
  background-color: #020726 !important;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.main-content {
  margin-left: 240px;
  margin-top: 70px; /* below the topbar */
  padding: 20px;
  transition: all 0.3s ease;
}

.main-content.collapsed {
  margin-left: 80px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
